# This file serves as an example of what your .env file should look like.
# Replace the variables defined here with those applicable on your own system.
# Then copy the contents into a file called ".env" and place it in project's
# root directory. 

WRDS_USERNAME=jdoe
GCP_PROJECT=your-gcp-project-id

# Set to 0 to scrape GDELT/newswire from source instead of downloading cached data
# USE_CACHED_SCRAPES=0
